{%- assign site_name = site.title -%}

{%- assign seo_title = page.title | default: site.title -%}
{%- assign seo_description = page.description | default: site.description -%}
{%- assign seo_url = site.url | append: page.url -%}
{%- assign seo_image = page.image | default: site.social_image | prepend: site.url -%}

{%- if page.url == "/" -%}
  {%- if page.seo_title -%}
    {%- assign seo_title = page.seo_title -%}
  {%- else -%}
    {%- assign seo_title = site.description -%}
  {%- endif -%}
{%- endif -%}

<title>{{ seo_title }} | {{ site_name }}</title>

<meta name="description" content="{{ seo_description }}">

<!-- Canonical -->
<link rel="canonical" href="{{ seo_url }}">

<!-- Open Graph -->
<meta property="og:type" content="{% if page.layout == 'design' %}article{% else %}website{% endif %}">
<meta property="og:title" content="{{ seo_title }}">
<meta property="og:description" content="{{ seo_description }}">
<meta property="og:url" content="{{ seo_url }}">
<meta property="og:site_name" content="{{ site_name }}">
<meta property="og:image" content="{{ seo_image }}">

<!-- Twitter / X -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ seo_title }}">
<meta name="twitter:description" content="{{ seo_description }}">
<meta name="twitter:image" content="{{ seo_image }}">

<meta name="robots" content="index, follow">
