---
layout: default
---

<article class="design container">
{% include breadcrumbs.html %}
{% if page.tags %}
<div class="design-tags">
  {% for tag in page.tags %}
    <span class="tag tag-{{ tag | slugify }}">{{ tag }}</span>
  {% endfor %}
</div>
{% endif %}
  <h3>Compatible with</h3>
  <ul class="badges">
    {% for v in page.phpbb_versions %}
      <li>phpBB {{ v }}</li>
    {% endfor %}
  </ul>

  {{ content }}
  
  <!-- Contenedor para commits -->
<section class="recent-commits" data-repo="{{ page.repo }}">
  <h3>Commit history</h3>
  <ul class="commit-list"></ul>
</section>
</article>
