---
layout: default
---

<article class="design container">
{% include breadcrumbs.html %}
{% if page.tags %}
<div class="design-tags">
  {% for tag in page.tags %}
    <span class="tag tag-{{ tag | slugify }}">{{ tag }}</span>
  {% endfor %}
</div>
{% endif %}
  <h3>Compatible with</h3>
  <ul class="badges">
    {% for v in page.phpbb_versions %}
      <li>phpBB {{ v }}</li>
    {% endfor %}
  </ul>

  {{ content }}
  
  <!-- Contenedor para commits -->
<section class="recent-commits" data-repo="{{ page.repo }}">
  <h3>Commit history</h3>
  <ul class="commit-list"></ul>
</section>
<section class="comments container">
  <h3>Comments</h3>

<script src="https://giscus.app/client.js"
        data-repo="nextgen-solutions-gt/site-comments"
        data-repo-id="R_kgDOQul2Fg"
        data-category="General"
        data-category-id="DIC_kwDOQul2Fs4C0OPZ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="es"
        crossorigin="anonymous"
        async>
</script>
</section>

</article>
